* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

h1 {
    font-weight: 500;
    font-size: 55px;
}

.error {
    border-color: red;
}

.info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(6, 70px);
    gap: 70px;
    margin-top: 50px;
}

.container {
    width: 1200px;

}

input {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    padding: 10px 20px;


}

.item p {
    text-align: left;
}

.form button {
    transform: translateX(60%);
    padding: 30px 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    background: #4200FF;
    font-size: 20px;
    border: 1px solid #4200FF;
}

.form button:hover {
    background: rgb(255, 255, 255);
    border: 1px solid #4200FF;
    color: black;
}

.nesP {
    color: #4200FF;
}

.nes {
    border-color: #4200FF;

}

body {
    scale: 0.7;
}

img {
    max-width: 100%;
    display: none;
}

.group {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 10px;
}

.block{
    background: #6fa551;
    color: aliceblue;
    width: 300px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    transform: translateX(-150%);
    transition: 1s ease;
    opacity: 0;
    position: fixed;
    top: 30px;
    left: 30px;
}